body{
    background-color:#f8f8ff;
}
#logoHeader
{
    background-color: #1c2e4a;
}
.logo
{
    margin-left:1%;
    padding-top:1%;
    padding-bottom:1%;
    width:13%;
}
#navigation
{
    width:45%;
    float:right;
    margin-top:6%;
    margin-right:2%;
}

#navigation a
{
    margin-top:5%;
    margin-left:1%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding:10px 12px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: medium;
}

#navigation a:hover
{
    background-color: #FFC000;
    color:#1c2e4a;
}

#navigation a.current
{
    background-color: #0f4880;
}

#navigation a.current:hover
{
    color:#ffffff;
}
.login
{
    margin-top:5%;
    margin-left:1%;
    font-size: medium;
    border: none;
    padding:10px 22px;
    background-color: #ffffff;
    color:#1c2e4a;
}

.login:hover
{
    background-color: #FFC000;
}
.logout
{
    margin-top:5%;
    margin-left:1%;
    font-size: medium;
    border: none;
    padding:10px 22px;
    background-color: #8b0000;
    color:#ffffff;
}

.logout:hover
{
    background-color: #FFC000;
    color:#1c2e4a;
}

.loginButton
{
    font-size: large;
    border: none;
    padding:10px 22px;
    background-color: #1c2e4a;
    color:#ffffff;
}
.loginButton:hover
{
    background-color: #FFC000;
    color:#1c2e4a;
}
#reportContent
{
    text-align:center;
    width: 80%;
    float:left;
    padding-top:1%;
    margin-left:10%;
    margin-top:2%;
    font-size: larger;
    font-family: sans-serif;
    background-color: #8b0000;
}

#content
{
    text-align:center;
    width: 80%;
    float:left;
    padding-top:10%;
    margin-left:10%;
    font-size: larger;
    font-family: sans-serif;
}
.inputField
{
    width:40%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: sans-serif;
    font-size: large;
}
.storeData
{
    width:10%;
    padding:1%;
    border:none;
    border-radius: 10%;
    background-color: #1c2e4a;
    color:#ffffff;
    font-family: sans-serif;
    font-size: medium;
}

.storeData:hover
{
    background-color: #FFC000;
    color:#1c2e4a;
}

p
{
    font-size: larger;
}

.inputDescription
{
    width:50%;
    height: 300px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: sans-serif;
    font-size: large;
}
span
{
    color:#FFC000;
}